body{
    margin: 0;
    font-family: 'lato',sans-serif;
    
}
.header-topo{
    display: flex;
    background-color: #E0E0E0;
    color: #333;
    height: 80px;
    justify-content:space-around;
    align-items:  center;
    width: 100%;
   
}

.header-topo span{
    width: 100%;
    font-size: 20px;
 
}

#imgg{
    position: flex;
    width: 30px;
    height: 27.63px;
    left: 22px;
    top: 15px;


    border: 2px solid #333333;
        } 

.hamburguer-icon  div{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

#separarr{
    display: none;
}

.responsive-menu ul{
    display: none;
    list-style-type:none;
    background-color: #333;
    font-size: 18px;
    color: white;
    position: fixed;
    height: 100%;
    width: 85.4%;
    right: 0px;
    top:0px;
    margin: 0px;
    padding: 20px 0px;


    }

.responsive-menu ul li{
    text-align: right;
    margin:7px 0px;
    padding: 0PX 20px;
}


.responsive-menu ul  li:nth-child(1) {
    text-align: left;
    }

.responsive-menu ul  li:hover:nth-child(1) {
    background-color:#333;
    color: white;
        }    

.responsive-menu ul li:hover {
    background-color: #c4c4c4;
    color: #333;
        }
.responsive-menu:hover ul{
    display: block;
}
.centro{
    display: none;
}

#bordarr{
    position: flex;
    width: 100%;
    float: bottom;
   
    
}


.encima{
    padding: 5px 20px ;
    font-size: 14px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
}

#oseq{
    position:flex;
    height: 32px;
    width: 372px;
    right: 13%;
    top: 20%;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px 20px;
}

.adir{
    position: flex;
    width: 371px;
    height: 32px;
    padding:  0px 24px 0px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #979797;
    margin: 0px 20px;        
    } 
   
#enviar{
    position: flex;
    margin:19.78px 20px;
    width: 371px;
    height: 32px; 
    background: #333333;
    color: white;
    border-radius: 4px;
    font-size: 16px;
            
}

.linha-meio div{
    /* Line */

position: absolute;
width: 371px;
height: 0px;
left: 0px;
top: 290px;

border: 1px solid #979797;

}


.afastar{
position: flex;
align-items: center;
text-align: center;
margin: 0%;

  }

.linhas {

    border-bottom: 1px solid #333;
     
    }

.linhastopo{
             margin-bottom: 5px;
             border-top: 1px solid #333;
     
} 

.lucro{
    position: flex;
    width: 100%;
    height: 18px;
    left: 263px;
    top: 169px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: right;
    margin: 0px;
 
    }

#subirr table{
    width: 550px;
    height: 440px;    
    margin-bottom: 5px;
    padding: 15px 10px;
    position: relative;
    display: none;
    }



footer{      
    position: absolute;
    display: block;
    width: 100%;
    height: 8px;
    left: 0px;
    top: 992px;
    background: #333333;
    }

/*------------------------------------------------------------------------*/

@media screen and (min-width:414px){
}
.header-topo{
    display: flex;
    background-color: #E0E0E0;
    color: #333;
    height: 80px;
    justify-content:space-around;
    align-items:  center;
    width: 100%;
   
}

.header-topo span{
    width: 100%;
    font-size: 20px;
 
}

.hamburguer-icon  div{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

.responsive-menu ul{
    display: none;
    list-style-type:none;
    background-color: #333;
    font-size: 18px;
    color: white;
    position: fixed;
    height: 100%;
    width: 85.4%;
    right: 0px;
    top:0px;
    margin: 0px;
    padding: 20px 0px;


    }

.responsive-menu ul li{
    text-align: right;
    margin:7px 0px;
    padding: 0PX 20px;
}


.responsive-menu ul  li:nth-child(1) {
    text-align: left;
    }

.responsive-menu ul  li:hover:nth-child(1) {
    background-color:#333;
    color: white;
        }    

.responsive-menu ul li:hover {
    background-color: #c4c4c4;
    color: #333;
        }
.responsive-menu:hover ul{
    display: block;
}


